# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bilder, Pdf, Archive
*.pdf
*.tar
*.zip
.vscode
build
bilder
myWay
evoles
*.jpg
*.png
*.txt
PATIENT_DICOM